<div class="content">
  <div class="contact-wrapper animated bounceInUp">
    <div class="contact-form">
      <h3>Contact us</h3>
      <form action="">
        <p class="block">
          <label>Nombre:</label>
          <input type="text" name="fullname">
        </p>
        <p class="block">
          <label>Email:</label>
          <input type="email" name="email">
        </p>
        <p class="block">
          <label>Mensaje:</label>
          <textarea name="message" rows="4"></textarea>
        </p>
        <p class="block">
          <button (click)="confirmSend()">
            Enviar
          </button>
        </p>
      </form>
    </div>
    <div class="contact-info">
      <h4>More Info</h4>
      <ul>
        <li><i class="fas fa-map-marker-alt"></i> Baker Street</li>
        <li><i class="fas fa-phone"></i> (111) 111 111 111</li>
        <li><i class="fas fa-envelope-open-text"></i> contact@website.com</li>
      </ul>
    </div>
  </div>

</div>