mat-card {
    max-width: 600px;
    margin: 0.5em auto;
    text-align: center;
    max-height: 600px;
    background-color: transparent;
}

#inputField {
    border-radius: 25px;
    background-color: aqua;
}

.header {
    text-align: center;
}

.full-width {
    width: 80%;
}

.button-row {
    padding-top: 5px;
}

.button-row a {
    margin-right: 8px;
    text-align: center;
}

.forget-password {
    padding-left: 0px;
}

.emailInput {
    padding-top: 10px;
}

.contentBody {
    padding: 60px 1rem;
    /* background: #1b6ca8; */
    display: block;
}

.aLink {
    float: right;
    padding-right: 60px;
    text-decoration: none;
}

#loginImage {
    border-radius: 15%;
    background-color: #D7BEA8;
    border: 2px solid black;
}

#logo {
    width: 17em;
    height: 17em;
}

#loginImage img { 
    margin-top: 1em;
    margin-bottom: 1em;
    width: 2.5em;
    height: 2.5em;
}