<!-- <div id="contenedor" class="form">
    <form (ngSubmit)="submit()" #userForm="ngForm">
        <div class="form-group">
            <label for="user">Nombre:</label>
            <input type="text" [(ngModel)]="user.name" name="name" #name="ngModel" required>
            <div *ngIf="name.invalid && name.dirty" class="alert">
                <div *ngIf="name.errors?.['required']">Campo requerido</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Contraseña:</label>
            <input type="password" [(ngModel)]="user.password" name="password" #password="ngModel" required
                minlength="4">
            <div *ngIf="password.invalid && password.dirty" class="alert">
                <div *ngIf="password .errors?.['required']">Campo requerido</div>
                <div *ngIf="password .errors?.['minlength']">Mínimo 4 caracteres</div>
            </div>
        </div>
        <button type="submit" [disabled]="!userForm .form.valid">Entrar</button>
    </form>
</div> -->

<mat-card>
    <mat-card-content>
        <img id="logo" src="../../../assets/images/logoCodetechComplete.png"/>
        <form (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">
            <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input formControlName="email" [(ngModel)]="user.name" name="name" matInput
                        placeholder="Enter email address" required />
                    <mat-error *ngIf="!loginForm.controls['email'].valid">
                        Email is required
                    </mat-error>
                </mat-form-field>
            </div>

            <div>
                <span>
                    <a class="text-link" class="aLink" routerLink="/auth/forgot-password">Forgot Password?</a>
                </span>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input  formControlName="password" [(ngModel)]="user.password" name="password" matInput
                        [type]=" hide ? 'text' : 'password'" required />
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>
                            {{hide ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                    </button>
                    <mat-error *ngIf="!loginForm.controls['password'].valid">
                        Password is required
                    </mat-error>
                </mat-form-field>
            </div>
            <button id="loginImage" mat-flat-button>
                <img  src="../../../assets/images/flecha.png"/>
            </button>
        </form>

        <div class="button-row">
            <p>¿No tienes cuenta?</p>
        </div>
    </mat-card-content>
</mat-card>