<div class="header">
  <div cols="4" class="listButton">
    <div class="buttonNav">
      <a href="#home"><img src="assets/images/home.png"></a>
    </div>
    <div class="buttonNav">
      <a routerLink="/cart"><img src="assets/images/cart.png"></a>
    </div>
    <div class="buttonNav">
      <a href="/contact"><img src="assets/images/contact.png"></a>
    </div>
    <div class="buttonNav">
      <a routerLink="/us"><img src="assets/images/info.png"></a>
    </div>
  </div>
</div>

<!-- <ul id="menu">
    <li><span> </span></li>
    <li routerLink="/listado"><span>Blog</span></li>
    <li routerLink="/nosotros"><span>Acerca de</span></li>
    <li id="acceso" *ngIf="miToken == 0" class="acceso" routerLink="/login"><span>Acceso</span></li>
    <li id="acceso" *ngIf="miToken != 0" class="acceso" (click)="logout()"><span><strong>Usuario:</strong>
            {{ nombreUsuario }}</span></li>
</ul> -->