<div>
    <div id=contenedor>
        <p>
            Nuestra empresa lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat
        </p>
    </div>
    <div id="buttons">
        <button>
            <p>Términos y condiciones</p>
            <img src="assets\images\flecha.png" />
        </button>
        <button>
            <p>Política de uso</p>
            <img src="assets\images\flecha.png" />
        </button>
        <button>
            <p>Requisitos del sistema</p>
            <img src="assets\images\flecha.png" />
        </button>
        <p id="versionApp">v. 2.0.11</p>
    </div>

</div>