#contenedor {
    text-align: justify;
    margin: 2em;
    border-radius: 25px;
    background-color: #00c8ffaa;
}

#container{
    padding-bottom: 6em;
}

#contenedor p {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
}

#buttons{
    display: flex;
    flex-direction: column;
    width: 90%;
}

#buttons button {
    margin-top: 1em;
    margin-left: 8%;
    display: flex;
    width: auto;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #00c8ffaa;
}

#buttons button img {
    margin-top: .7em;
    width: 1.5em;
    height: 1.5em;
}

#versionApp{
    margin-top: 2em;
}

#buttons p {
    text-align: center;
}